.toolbar {
  background-color: white;
  color: black;
  height: 100px;
}

.main {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.card {
  background: rgba(19, 207, 172, 0.15);
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin: 20px;
}

.animationai img {
  max-width: 100%;
}

.text1 {
  padding: 30px;
}

.textheading {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.15em;
  color: #1E3756;
}

.subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #0A8F78;

}

.para {
  margin: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 180%;
  letter-spacing: 0.035em;
  color: #1E3756;

}

.cardtext {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #05473C;

}



.augimage img {
  max-width: 100%;
}

.releaseheader {
  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.035em;
    color: #0A8F78;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3F4B5B;
  }
}

.aicard1 {
  max-width: 200px;
}

.myCard {
  margin: 0px 0px 10px 10px;
  background: rgba(19, 207, 172, 0.15);
  border-radius: 12px;

}
.myCard1{
  margin: 0px 0px 10px 10px;
  background: rgba(19, 207, 172, 0.15);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  height: 24em;
}
.dataclass {
  margin: 5px;
}

.col3 {
  background: rgba(42, 94, 207, 0.2);
  border-radius: 8px;
}

.col1 {
  background: rgba(42, 94, 207, 0.2);
  border-radius: 8px;
}

.colcard {

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: #1D468A;
  padding: 10px;
  max-width: 300px;
}

.mlstuckture img {
  max-width: 100%;
}

.aimlimage img {
  max-width: 100%;
}

.aimlimage
{
  margin: 10px;
}
.augpara {
  margin: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.035em;
  color: #3F4B5B;
}

.cardsubhead {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #0A8F78;
}

.head {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2A5ECF;

}
