.footer {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #C6C6C6;
  background: #0E1B2B;
}

.footerheading {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}


.details {
  padding: 20px;
}
