<div class="footer" fxLayout="column wrap" style="margin-top:70px ;" id="footer">
  <div class="logo" style="margin: 15px;" fxLayout="row wrap" fxLayoutAlign.xs="center center"
    fxLayoutAlign="start center">
    <div fxFlex="7"></div>
    <div class="image">
      <img src="../../assets/Images/logo1.png" alt="">
    </div>

  </div>
  <div class="details" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="25">
    <div fxFlex></div>
    <div class="company" fxFlex="23" fxFlex.xs="100%">
      <p class="footerheading">COMPANY INFO</p>
      <p class="companyinfo" style="max-width: 52%;">
       <!--  Reach out to us anytime and lets create a better future
        for all technology users together, forever. We are open to all types of collab offers and tons more. -->
        195,Scheme No 78 part II Vijay Nagar, Indore(M.P), India Pin-code 452010
      </p>
    </div>
    <div class="contact" fxFlex="23" fxFlex.xs="100%">
      <p class="footerheading">CONTACT INFO</p>
      <p>
        <img src="../../assets/Images/mail.png" alt="">
        info@bootnext.com
      </p>
      <p>
        <img src="../../assets/Images/phone.png" alt="">
        +91-0731-4280739
      </p>
    </div>
    <div class="ventures" fxFlex="23" fxFlex.xs="100%">
      <p class="footerheading">VENTURES</p>
      <P>Meterstock</P>
      <p>Helm Builder</p>
      <P>Dr.ETL</P>
      <p>Quant Trode</p>
      <p>QuickBoot</p>
    </div>
    <div class="sitemap" fxFlex="23" fxFlex.xs="100%">
      <p class="footerheading">SITE MAP</p>
      <P>Home</P>
      <p>About</p>
      <P>Career</P>
    </div>
  </div>
</div>
