<div fxLayout="row wrap" fxLayoutAlign="center center">

  <div class="toolbar" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start center"
    style="padding: 18px;">
    <div class="logo">
      <img src="../../assets/Images/logo2.png" alt="" (click)="gotToPage('home')">
    </div>
    <div fxFlex></div>
    <div class="toolbarheader" fxshow fxHide.xs fxHide.sm>
      <button mat-button style="font-size: 20px;" (click)="gotToPage('home')">Home
      </button>
      <button mat-button style="font-size: 20px;" [matMenuTriggerFor]="menu">Ventures <mat-icon style="opacity:0.5;">
          keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Meterstock</button>
        <button mat-menu-item>Helm Builder</button>
        <button mat-menu-item>Dr.ETL</button>
        <button mat-menu-item>Quant Trode</button>
        <button mat-menu-item>QuickBoot</button>
      </mat-menu>
      <button mat-button style="font-size: 20px;" onclick="window.open('//airtable.com/shrf3IOeTmHCPOsLP')"> Career </button>
      <button mat-button style="font-size: 20px;" (click)="gotToPage('about')"> About </button>
      <button mat-button style="font-size: 20px;" (click)="gotToPage('contact')">Contact</button>
    </div>
    <div fxHide fxShow.xs fxShow.sm>
      <button mat-icon-button [matMenuTriggerFor]="mobilemenu" aria-label="Example icon-button with a menu">
        <mat-icon class="white-icon">more_vert</mat-icon>
      </button>
      <mat-menu #mobilemenu="matMenu">
        <button mat-menu-item (click)="gotToPage('home')">
          <span>Home</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="menu">
          <span>Venture</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Meterstock</button>
          <button mat-menu-item>Helm Builder</button>
          <button mat-menu-item>Dr.ETL</button>
          <button mat-menu-item>Quant Trode</button>
          <button mat-menu-item>QuickBoot</button>
        </mat-menu>
        <button mat-button style="font-size: 20px;" onclick="window.open('//airtable.com/shrf3IOeTmHCPOsLP')"> Career </button>
        <button mat-menu-item (click)="gotToPage('about')">
          <span>About</span>
        </button>
        <button mat-menu-item (click)="gotToPage('contact')">
          <span>Contact</span>
        </button>
      </mat-menu>
    </div>
  </div>

</div>

<div class="maincontact" fxLayoutAlign="center center" fxLayoutAlign.xs="center center" style="margin-bottom: 20px;">
  <div class="maincard" fxFlex="60" fxFlex.xs="95%"  fxLayoutGap="10%"  fxFlex.sm="80%" >
    <div fxLayout="row"  class="maincontacthead">
      <div fxFlex="100" fxFlex.xs="100%"  fxFlex.sm="100%"class="para" >
        <p style="margin-top: 20px; text-align: center;">
          Become A Founder
        </p>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="maincontactform" fxLayoutGap="5%" fxLayout.sm="row wrap" fxLayoutAlign.sm="center center">
      <div class="col1" fxFlex="45%" fxFlex.xs="100%"  fxFlex.sm="70%"  >
        <div class="leave"  style="margin-left: 35px;" >Leave us a message</div>

        <form #founder="ngForm" (submit)="getdata(founder.value); founder.reset()">

          <div fxLayout="column" style="margin-left: 30px;">
            <input
            required
            #name="ngModel"
            class="nameclass"
            style="color: white;"
            type="text"
            placeholder="Your Full Name"
            name="username"
            ngModel>
            <span *ngIf="name.invalid && name.touched"
             style="color: red; font-size: small; ">
                 Please provide your name
            </span>
          </div>

          <div fxLayout="column" style="margin-left: 30px;">
            <input
            required
            #email="ngModel"
            class="emailclass"
            type="email"
            style="color: white;"
            placeholder="Email Address"
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            ngModel>
            <span *ngIf="email.invalid && email.touched"
            class="error"
             style="color: red; font-size: small">
                  Please provide your correct email address
            </span>
          </div>

          <div fxLayout="column" style="margin-left: 30px;">
            <textarea
            required
            #message="ngModel"
            class="textareaclass"
            rows="9"
            placeholder="Your Message"
            name="message"
            style="color: white;"
            ngModel
            >

          </textarea>
          <span *ngIf="message.invalid && message.touched"
           style="color: red;font-size: small">
                Please provide your message
          </span>
          </div>

          <div fxLayout="column" style="margin-left: 30px;">
            <button
            [disabled]="founder.invalid"
            type="submit"
            class="btn">
              Send
            </button>
          </div>

        </form>


      </div>
      <div class="col2" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout.sm="column wrap" >

        <div class="add" fxLayout="row" style="margin-top: 3.5rem;">
          <div class="pi">
            <img src="../../assets/Images/address.png" alt="">
          </div>
          <div class="address" style="margin-left: 20px;">
            <p>195, Scheme No 78 Part
              2, Vijay Nager,<br> Indore, India 452010</p>
          </div>
        </div>
        <div class="col2details">
          <p> <img src="../../assets/Images/phone2.png" alt=""> <span style="padding: 10px;"></span>+91 835 XX 24 525
          </p>
        </div>
        <div class="col2details">
          <p> <img src="../../assets/Images/mail2.png" alt=""> <span style="padding: 10px;"></span>info@bootnext.biz</p>
        </div>
        <div class="col2details">
          <p> <img src="../../assets/Images/Instagram.png" onclick="window.open('//www.instagram.com/bootnextteam/')" alt=""> <span style="padding: 15px;"></span> <img
              src="../../assets/Images/facebook.png" alt="" onclick="window.open('//www.facebook.com/people/BootNext-Tech-Ventures/100083437654541/')">
            <span style="padding: 15px; "></span><img src="../../assets/Images/twitter.png" alt="" onclick="window.open('//twitter.com/BootNextTeam/')">
          </p>
        </div>
        <div class="map" fxLayout="row" fxLayoutAlign="center center">
          <p> <img src="../../assets/Images/map.png" alt=""></p>
        </div>
      </div>
    </div>
  </div>

</div>

